@import '../../../../assets/styles/vars.scss';
header {
    background-color: white;
    z-index: 2;
    display: flex;
    position: relative;
    width: 100%;
    height: 80px;
    // margin-left: 20px;
}