.custom-modal {
    z-index: 999999 !important;
}

.modal-dialog {
    -webkit-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    top: 20%;
    margin: 0 auto;
}

.modal-content {
    overflow: hidden;
}

.bold {
    font-weight: bolder;
}

#sendTransfer {
    background-color: #EC6E36;
}

#close {
    background-color: white;
    color: #555;
}